QUESTION 1

Obtain the 200 top-ranking universities in www.topuniversities.com (ranking 2018). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the details page. Store the resulting dataset in a pandas DataFrame and answer the following questions:

Which are the best universities in term of:
    (a) ratio between faculty members and students?
    (b) ratio of international students?

Answer the previous question aggregating the data by (c) country and (d) region

In [32]:
#importing the libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np

In [94]:
#Defining a function that will get the attribute of the universiy once we have the 
def Get_data( HTML_tag ) :
    #Using BeautifulSoup to extract the data from the given HTML
    Page_Soup = BeautifulSoup(requests.get(HTML_tag).text, 'html.parser')
    name = Page_Soup.find('h1').text
   
    country = Page_Soup.find('span' , class_='country').text
    #region = Page_Soup.find('span' , class_='locality').text
    


    #We get the number, delete the comma and then the rest of the text (there was spaces and text we had no use of)
    if Page_Soup.find('div', class_='total faculty') is not None:
        faculty_total = re.findall("\d+", Page_Soup.find('div', class_='total faculty').text.replace("," , ""))
        number_faculty_total = int(faculty_total[0])
    else:
        number_faculty_total = 'Unknown'
    
    if Page_Soup.find('div', class_='inter faculty') is not None:
        faculty_international = re.findall("\d+", Page_Soup.find('div', class_='inter faculty').text.replace("," , ""))
        number_faculty_international = int(faculty_international[0])
    else:
        number_faculty_international = 'Unknown'
    
    if Page_Soup.find('div', class_='total student') is not None:
        students_total = re.findall("\d+", Page_Soup.find('div', class_='total student').text.replace("," , ""))
        number_students_total = int(students_total[0])
    else:
        number_students_total = 'Unknown'
        
    if Page_Soup.find('div', class_ = 'total inter') is not None:
        students_international = re.findall("\d+",Page_Soup.find('div', class_ = 'total inter').text.replace("," , ""))
        number_students_international = int(students_international[0])
    else:
        number_students_international = 'Unknown'
    
    #Appending the results to a list
    Data = pd.DataFrame({'name': [name], 'country': [country], 'numb_fac_tot': [number_faculty_total], 
                         'num_fac_int': [number_faculty_international], 'num_stud_tot': [number_students_total], 
                         'num_stud_int': [number_students_international]})
    return Data

In [95]:
Test = Get_data('https://www.topuniversities.com/universities/university-michigan#wurs')
print(Test)

         country                    name  num_fac_int  num_stud_int  \
0  United States  University of Michigan         1920          7527

   num_stud_tot  numb_fac_tot
0         43147          6809

All the data from the universities are not on the main page. However all the links are on the page. We will create a function to exctract all the URLs of each universitiy. The use of a function is handy because later in this exercise we will have to extract the same kind of data from another ranking

In [5]:
#Because we want to extract the data from two distinct website, we will create a boolean parameter as an input of our function
#if the entry is QS, it will extract the data from the corresponding website and the same statement is also true for the other
#one.
def Extract_Links(Original_HTML):

    #Defining a DataFrame that will contain the results:
    columns = ['name', 'country', 'number_faculty_total','number_faculty_international',
                            'number_students_total', 'number_students_international']
    Data = pd.DataFrame(columns=columns)
    
    soup = BeautifulSoup(requests.get(Original_HTML).text, 'html.parser')
    all_links = list(soup.find_all('a'))
    

    #print(np.array(all_links).shape)
    #print(type(all_links))
    #print(all_links)
    #We need to remove all the links which we are not interested in:
    
    print(len(all_links))
    compteur = 1
    
    for link in all_links:
        if link.get('href') is None : 
            all_links.remove(link)
        else:
            #we remove every link that is not leading to a university.
            if (not link.get('href').startswith('https://www.topuniversities.com/universities/')
                and link.get('href').startswith('https://www.topuniversities.com')):
                all_links.remove(link)

            #we remove every link that is not leading to a university.
            if (not link.get('href').startswith('https://www.timeshighereducation.com/world-university-rankings/')
                and link.get('href').startswith('https://www.timeshighereducation.com')):
                all_links.remove(link)
        compteur +=1    
    print('outside the TIMPE')    
    #Appending the result in a DataFrame.
    for FinalLink in all_links:
        Data = Data.append(Get_data(FinalLink))
    #The ranking is not defined, however the universities were stored in order of appearance on the website, meaning that the 
    #DataFrame is sorted by ranking. We define a new column and use it as the index.

    # DONT FORGET TO ADD A COLUMN WITH THE RANK
    return Data

### Extracting data from topuniversities.com

In [96]:
# extract request url from jsonfile and uses them to extract other data via Get_Data()
# takes aloooooot of time

# Used postman to request htmlfile. then searched for <tbody> it was empty so we searched for json/txt to find where
# the documents that JQuery/Ajax or whatever loads in after a while
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508507889334')
req = r.json()
data = req['data']
QSframe = pd.DataFrame.from_dict(data)
QSframe = frame.head(201)
QSframe.url = "https://www.topuniversities.com" + frame.url

QSdf = pd.DataFrame()

for i, url in enumerate(frame.url):
    print(i)
    #print(url)
    df = df.append(Get_data(url))

0
https://www.topuniversities.com/universities/massachusetts-institute-technology-mit
1
https://www.topuniversities.com/universities/stanford-university
2
https://www.topuniversities.com/universities/harvard-university
3
https://www.topuniversities.com/universities/california-institute-technology-caltech
4
https://www.topuniversities.com/universities/university-cambridge
5
https://www.topuniversities.com/universities/university-oxford
6
https://www.topuniversities.com/universities/ucl-university-college-london
7
https://www.topuniversities.com/universities/imperial-college-london
8
https://www.topuniversities.com/universities/university-chicago
9
https://www.topuniversities.com/universities/eth-zurich-swiss-federal-institute-technology
10
https://www.topuniversities.com/universities/nanyang-technological-university-singapore-ntu
11
https://www.topuniversities.com/universities/ecole-polytechnique-f%C3%A9d%C3%A9rale-de-lausanne-epfl
12
https://www.topuniversities.com/universities/princeton-university
13
https://www.topuniversities.com/universities/cornell-university
14
https://www.topuniversities.com/universities/national-university-singapore-nus
15
https://www.topuniversities.com/universities/yale-university
16
https://www.topuniversities.com/universities/johns-hopkins-university
17
https://www.topuniversities.com/universities/columbia-university
18
https://www.topuniversities.com/universities/university-pennsylvania
19
https://www.topuniversities.com/universities/australian-national-university
20
https://www.topuniversities.com/universities/university-michigan
21
https://www.topuniversities.com/universities/duke-university
22
https://www.topuniversities.com/universities/university-edinburgh
23
https://www.topuniversities.com/universities/kings-college-london
24
https://www.topuniversities.com/universities/tsinghua-university
25
https://www.topuniversities.com/universities/university-hong-kong
26
https://www.topuniversities.com/universities/university-california-berkeley-ucb
27
https://www.topuniversities.com/universities/university-tokyo
28
https://www.topuniversities.com/universities/northwestern-university
29
https://www.topuniversities.com/universities/hong-kong-university-science-technology
30
https://www.topuniversities.com/universities/university-toronto
31
https://www.topuniversities.com/universities/mcgill-university
32
https://www.topuniversities.com/universities/university-california-los-angeles-ucla
33
https://www.topuniversities.com/universities/university-manchester
34
https://www.topuniversities.com/universities/london-school-economics-political-science-lse
35
https://www.topuniversities.com/universities/kyoto-university
36
https://www.topuniversities.com/universities/seoul-national-university
37
https://www.topuniversities.com/universities/peking-university
38
https://www.topuniversities.com/universities/university-california-san-diego-ucsd
39
https://www.topuniversities.com/universities/fudan-university
40
https://www.topuniversities.com/universities/kaist-korea-advanced-institute-science-technology
41
https://www.topuniversities.com/universities/university-melbourne
42
https://www.topuniversities.com/universities/ecole-normale-sup%C3%A9rieure-paris
43
https://www.topuniversities.com/universities/university-bristol
44
https://www.topuniversities.com/universities/university-new-south-wales-unsw-sydney
45
https://www.topuniversities.com/universities/chinese-university-hong-kong-cuhk
46
https://www.topuniversities.com/universities/university-queensland
47
https://www.topuniversities.com/universities/carnegie-mellon-university
48
https://www.topuniversities.com/universities/city-university-hong-kong
49
https://www.topuniversities.com/universities/university-sydney
50
https://www.topuniversities.com/universities/university-british-columbia
51
https://www.topuniversities.com/universities/new-york-university-nyu
52
https://www.topuniversities.com/universities/brown-university
53
https://www.topuniversities.com/universities/delft-university-technology
54
https://www.topuniversities.com/universities/university-wisconsin-madison
55
https://www.topuniversities.com/universities/tokyo-institute-technology
56
https://www.topuniversities.com/universities/university-warwick
57
https://www.topuniversities.com/universities/university-amsterdam
58
https://www.topuniversities.com/universities/ecole-polytechnique
59
https://www.topuniversities.com/universities/monash-university
60
https://www.topuniversities.com/universities/university-washington
61
https://www.topuniversities.com/universities/shanghai-jiao-tong-university
62
https://www.topuniversities.com/universities/osaka-university
63
https://www.topuniversities.com/universities/technical-university-munich
64
https://www.topuniversities.com/universities/university-glasgow
65
https://www.topuniversities.com/universities/ludwig-maximilians-universit%C3%A4t-m%C3%BCnchen
66
https://www.topuniversities.com/universities/university-texas-austin
67
https://www.topuniversities.com/universities/ruprecht-karls-universit%C3%A4t-heidelberg
68
https://www.topuniversities.com/universities/university-illinois-urbana-champaign
69
https://www.topuniversities.com/universities/georgia-institute-technology
70
https://www.topuniversities.com/universities/pohang-university-science-technology-postech
71
https://www.topuniversities.com/universities/ku-leuven
72
https://www.topuniversities.com/universities/university-copenhagen
73
https://www.topuniversities.com/universities/university-zurich
74
https://www.topuniversities.com/universities/universidad-de-buenos-aires-uba
75
https://www.topuniversities.com/universities/tohoku-university
76
https://www.topuniversities.com/universities/national-taiwan-university-ntu
77
https://www.topuniversities.com/universities/durham-university
78
https://www.topuniversities.com/universities/lund-university
79
https://www.topuniversities.com/universities/university-north-carolina-chapel-hill
80
https://www.topuniversities.com/universities/boston-university
81
https://www.topuniversities.com/universities/university-auckland
82
https://www.topuniversities.com/universities/university-sheffield
83
https://www.topuniversities.com/universities/university-birmingham
84
https://www.topuniversities.com/universities/university-nottingham
85
https://www.topuniversities.com/universities/ohio-state-university
86
https://www.topuniversities.com/universities/zhejiang-university
87
https://www.topuniversities.com/universities/trinity-college-dublin-university-dublin
88
https://www.topuniversities.com/universities/rice-university
89
https://www.topuniversities.com/universities/korea-university
90
https://www.topuniversities.com/universities/university-alberta
91
https://www.topuniversities.com/universities/university-st-andrews
92
https://www.topuniversities.com/universities/university-western-australia
93
https://www.topuniversities.com/universities/pennsylvania-state-university
94
https://www.topuniversities.com/universities/lomonosov-moscow-state-university
95
https://www.topuniversities.com/universities/hong-kong-polytechnic-university
96
https://www.topuniversities.com/universities/university-science-technology-china
97
https://www.topuniversities.com/universities/university-geneva
98
https://www.topuniversities.com/universities/kth-royal-institute-technology
99
https://www.topuniversities.com/universities/washington-university-st-louis
100
https://www.topuniversities.com/universities/university-leeds
101
https://www.topuniversities.com/universities/university-southampton
102
https://www.topuniversities.com/universities/university-helsinki
103
https://www.topuniversities.com/universities/eindhoven-university-technology
104
https://www.topuniversities.com/universities/purdue-university
105
https://www.topuniversities.com/universities/yonsei-university
106
https://www.topuniversities.com/universities/kit-karlsruhe-institute-technology
107
https://www.topuniversities.com/universities/sungkyunkwan-university-skku
108
https://www.topuniversities.com/universities/utrecht-university
109
https://www.topuniversities.com/universities/leiden-university
110
https://www.topuniversities.com/universities/university-adelaide

111
https://www.topuniversities.com/universities/uppsala-university
112
https://www.topuniversities.com/universities/university-groningen
113
https://www.topuniversities.com/universities/universiti-malaya-um
114
https://www.topuniversities.com/universities/nanjing-university
115
https://www.topuniversities.com/universities/nagoya-university
116
https://www.topuniversities.com/universities/technical-university-denmark
117
https://www.topuniversities.com/universities/university-california-davis
118
https://www.topuniversities.com/universities/aarhus-university
119
https://www.topuniversities.com/universities/humboldt-universit%C3%A4t-zu-berlin
120
https://www.topuniversities.com/universities/universidade-de-s%C3%A3o-paulo
121
https://www.topuniversities.com/universities/universidad-nacional-aut%C3%B3noma-de-m%C3%A9xico-unam
122
https://www.topuniversities.com/universities/hokkaido-university
123
https://www.topuniversities.com/universities/wageningen-university
124
https://www.topuniversities.com/universities/freie-universitaet-berlin
125
https://www.topuniversities.com/universities/ghent-university
126
https://www.topuniversities.com/universities/queen-mary-university-london
127
https://www.topuniversities.com/universities/kyushu-university
128
https://www.topuniversities.com/universities/university-maryland-college-park
129
https://www.topuniversities.com/universities/universite-de-montreal
130
https://www.topuniversities.com/universities/universit%C3%A9-pierre-et-marie-curie-upmc
131
https://www.topuniversities.com/universities/university-southern-california
132
https://www.topuniversities.com/universities/chalmers-university-technology
133
https://www.topuniversities.com/universities/university-california-santa-barbara-ucsb
134
https://www.topuniversities.com/universities/lancaster-university
135
https://www.topuniversities.com/universities/university-york
136
https://www.topuniversities.com/universities/cardiff-university
137
https://www.topuniversities.com/universities/pontificia-universidad-cat%C3%B3lica-de-chile-uc
138
https://www.topuniversities.com/universities/aalto-university
139
https://www.topuniversities.com/universities/mcmaster-university
140
https://www.topuniversities.com/universities/rwth-aachen-university
141
https://www.topuniversities.com/universities/university-pittsburgh
142
https://www.topuniversities.com/universities/university-oslo
143
https://www.topuniversities.com/universities/technische-universit%C3%A4t-berlin-tu-berlin
144
https://www.topuniversities.com/universities/hebrew-university-jerusalem
145
https://www.topuniversities.com/universities/university-lausanne
146
https://www.topuniversities.com/universities/erasmus-university-rotterdam
147
https://www.topuniversities.com/universities/emory-university
148
https://www.topuniversities.com/universities/university-basel
149
https://www.topuniversities.com/universities/michigan-state-university
150
https://www.topuniversities.com/universities/university-otago
151
https://www.topuniversities.com/universities/university-waterloo
152
https://www.topuniversities.com/universities/universit%C3%A9-catholique-de-louvain-ucl
153
https://www.topuniversities.com/universities/university-vienna
154
https://www.topuniversities.com/universities/hanyang-university
155
https://www.topuniversities.com/universities/universitat-de-barcelona
156
https://www.topuniversities.com/universities/%C3%A9cole-normale-sup%C3%A9rieure-de-lyon
157
https://www.topuniversities.com/universities/university-aberdeen
158
https://www.topuniversities.com/universities/university-exeter
159
https://www.topuniversities.com/universities/university-bath
160
https://www.topuniversities.com/universities/newcastle-university
161
https://www.topuniversities.com/universities/national-tsing-hua-university
162
https://www.topuniversities.com/universities/university-minnesota
163
https://www.topuniversities.com/universities/university-bergen
164
https://www.topuniversities.com/universities/university-california-irvine
165
https://www.topuniversities.com/universities/eberhard-karls-universit%C3%A4t-t%C3%BCbingen
166
https://www.topuniversities.com/universities/university-bern
167
https://www.topuniversities.com/universities/university-college-dublin
168
https://www.topuniversities.com/universities/dartmouth-college
169
https://www.topuniversities.com/universities/politecnico-di-milano
170
https://www.topuniversities.com/universities/albert-ludwigs-universitaet-freiburg
171
https://www.topuniversities.com/universities/indian-institute-technology-delhi-iitd
172
https://www.topuniversities.com/universities/king-fahd-university-petroleum-minerals
173
https://www.topuniversities.com/universities/university-liverpool
174
https://www.topuniversities.com/universities/university-virginia
175
https://www.topuniversities.com/universities/university-technology-sydney
176
https://www.topuniversities.com/universities/centralesup%C3%A9lec
177
https://www.topuniversities.com/universities/university-florida
178
https://www.topuniversities.com/universities/indian-institute-technology-bombay-iitb
179
https://www.topuniversities.com/universities/university-twente
180
https://www.topuniversities.com/universities/university-g%C3%B6ttingen
181
https://www.topuniversities.com/universities/vrije-universiteit-brussel-vub
182
https://www.topuniversities.com/universities/universidade-estadual-de-campinas-unicamp
183
https://www.topuniversities.com/universities/university-colorado-boulder
184
https://www.topuniversities.com/universities/vienna-university-technology
185
https://www.topuniversities.com/universities/university-rochester
186
https://www.topuniversities.com/universities/universidad-aut%C3%B3noma-de-madrid
187
https://www.topuniversities.com/universities/alma-mater-studiorum-university-bologna
188
https://www.topuniversities.com/universities/university-reading
189
https://www.topuniversities.com/universities/indian-institute-science-iisc-bangalore
190
https://www.topuniversities.com/universities/university-cape-town
191
https://www.topuniversities.com/universities/scuola-normale-superiore-di-pisa
192
https://www.topuniversities.com/universities/scuola-superiore-santanna-pisa-di-studi-universitari-e-di-perfezionamento
193
https://www.topuniversities.com/universities/keio-university-cems-mim
194
https://www.topuniversities.com/universities/stockholm-university
195
https://www.topuniversities.com/universities/universitat-aut%C3%B2noma-de-barcelona
196
https://www.topuniversities.com/universities/texas-am-university
197
https://www.topuniversities.com/universities/instituto-tecnol%C3%B3gico-y-de-estudios-superiores-de-monterrey
198
https://www.topuniversities.com/universities/maastricht-university
199
https://www.topuniversities.com/universities/universidad-de-chile
200
https://www.topuniversities.com/universities/queens-university-belfast

In [105]:
#manipulating rank(=21 -> 21) and adding ranking and region from "frame"
QS = QSdf
QS.index = range(len(uni))

QS['region'] = frame['region']
QS['rank'] = frame['rank_display']
print(QS.head(8))

          country                                          name num_fac_int  \
0   United States  Massachusetts Institute of Technology (MIT)         1679
1   United States                           Stanford University        2042
2   United States                            Harvard University        1311
3   United States  California Institute of Technology (Caltech)         350
4  United Kingdom                       University of Cambridge        2278
5  United Kingdom                          University of Oxford        2964
6  United Kingdom               UCL (University College London)        2554
7  United Kingdom                       Imperial College London        2071

  num_stud_int num_stud_tot numb_fac_tot         region rank
0         3717        11067         2982  North America    1
1         3611        15878         4285  North America    2
2         5266        22429         4350  North America    3
3          647         2255          953  North America    4
4         6699        18770         5490         Europe    5
5         7353        19720         6750         Europe    6
6        14854        31080         6345         Europe    7
7         8746        16090         3930         Europe    8

### Extracting data from timeshighereducation.com

In [113]:
# Used postman to request htmlfile. then searched for <tbody> it was empty so we searched for json/txt to find where
# the documents that JQuery/Ajax or whatever loads in after a while

r = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')
req = r.json()
data = req['data']
THframe = pd.DataFrame.from_dict(data)
THframe
print(frame)

# seems like alot of the internationalstudents and stuff is there...but is everything we need there?
# if not we must get it with Get_data() or something similar

                                                aliases            location  \
0                                  University of Oxford      United Kingdom
1                               University of Cambridge      United Kingdom
2            California Institute of Technology caltech       United States
3                                   Stanford University       United States
4                 Massachusetts Institute of Technology       United States
5                                    Harvard University       United States
6                                  Princeton University       United States
7                               Imperial College London      United Kingdom
8                                 University of Chicago       United States
9     ETH Zurich – Swiss Federal Institute of Techno...         Switzerland
10                           University of Pennsylvania       United States
11                                      Yale University       United States
12                             Johns Hopkins University       United States
13                                  Columbia University       United States
14                University of California, Los Angeles       United States
15                        University College London ucl      United Kingdom
16                                      Duke University       United States
17                   University of California, Berkeley       United States
18                                   Cornell University       United States
19                              Northwestern University       United States
20                               University of Michigan       United States
21                 National University of Singapore nus           Singapore
22                                University of Toronto              Canada
23                           Carnegie Mellon University       United States
24     London School of Economics and Political Science      United Kingdom
25                             University of Washington       United States
26                              University of Edinburgh      United Kingdom
27                                  New York University       United States
28                                    Peking University               China
29    Tsinghua University Qinghua University Tsing h...               China
...                                                 ...                 ...
1072                              Sathyabama University               India
1073                                Sechenov University  Russian Federation
1074                       Shanghai Maritime University               China
1075             Shibaura Institute of Technology Tokyo               Japan
1076                        Siberian Federal University  Russian Federation
1077               Sidi Mohamed Ben Abdellah University             Morocco
1078                     University of the Sinos Valley              Brazil
1079                                   Sofia University            Bulgaria
1080                      Southwest Jiaotong University               China
1081                                     SRM University               India
1082                        State University of Maringá              Brazil
1083      State University of Western Paraná (Unioeste)              Brazil
1084                 Tamil Nadu Agricultural University               India
1085                                 Tamkang University              Taiwan
1086                    Technical University of Liberec      Czech Republic
1087                              Tokyo City University               Japan
1088                             Tokyo Denki University               Japan
1089                                 Tottori University               Japan
1090                                    Toyo University               Japan
1091                       University of Tunis El Manar             Tunisia
1092                            Ural Federal University  Russian Federation
1093                          Universiti Utara Malaysia            Malaysia
1094                              Utsunomiya University               Japan
1095  University of Veterinary and Animal Sciences, ...            Pakistan
1096           V.N. Karazin Kharkiv National University             Ukraine
1097               Volgograd State Technical University  Russian Federation
1098                          Voronezh State University  Russian Federation
1099                                    Yazd University                Iran
1100                                Yeditepe University              Turkey
1101                               University of Zanjan                Iran

     member_level                                               name     nid  \
0               0                               University of Oxford     468
1               0                            University of Cambridge     470
2               0                 California Institute of Technology  128779
3              11                                Stanford University     467
4               0              Massachusetts Institute of Technology     471
5               0                                 Harvard University     466
6               0                               Princeton University     469
7               0                            Imperial College London     472
8               0                              University of Chicago     473
9               0  ETH Zurich – Swiss Federal Institute of Techno...     479
10              0                         University of Pennsylvania     480
11              0                                    Yale University     475
12              0                           Johns Hopkins University     478
13              0                                Columbia University     476
14              0              University of California, Los Angeles     477
15              0                          University College London     481
16              0                                    Duke University     487
17              0                 University of California, Berkeley     474
18              0                                 Cornell University     484
19              0                            Northwestern University     490
20              0                             University of Michigan     482
21              6                   National University of Singapore     504
22              0                              University of Toronto     483
23              0                         Carnegie Mellon University     485
24              0   London School of Economics and Political Science     511
25              0                           University of Washington     489
26              0                            University of Edinburgh     500
27              0                                New York University     508
28              0                                  Peking University     514
29              6                                Tsinghua University     535
...           ...                                                ...     ...
1072            0                              Sathyabama University  131645
1073            0                                Sechenov University  131316
1074            0                       Shanghai Maritime University  622146
1075            0             Shibaura Institute of Technology Tokyo  587799
1076            1                        Siberian Federal University  131484
1077            0               Sidi Mohamed Ben Abdellah University  131760
1078            0                     University of the Sinos Valley  131776
1079            0                                   Sofia University  131753
1080            0                      Southwest Jiaotong University  131768
1081            6                                     SRM University  131575
1082            0                        State University of Maringá  131470
1083            0      State University of Western Paraná (Unioeste)  625686
1084            0                 Tamil Nadu Agricultural University  621501
1085            0                                 Tamkang University  131693
1086            6                    Technical University of Liberec  131345
1087            0                              Tokyo City University  587859
1088            0                             Tokyo Denki University  589262
1089            0                                 Tottori University  131538
1090            0                                    Toyo University  131682
1091            0                       University of Tunis El Manar  131771
1092            0                            Ural Federal University  131493
1093            0                          Universiti Utara Malaysia  131511
1094            0                              Utsunomiya University  589184
1095            0  University of Veterinary and Animal Sciences, ...  131434
1096            0           V.N. Karazin Kharkiv National University  131424
1097            0               Volgograd State Technical University  587679
1098            0                          Voronezh State University  131433
1099            0                                    Yazd University  587751
1100            0                                Yeditepe University  624663
1101            0                               University of Zanjan  587757

       rank rank_order     record_type scores_citations scores_citations_rank  \
0         1         10  master_account             99.1                    15
1         2         20  master_account             97.5                    29
2        =3         30         private             99.5                    10
3        =3         40         private             99.9                     4
4         5         50         private            100.0                     1
5         6         60         private             99.7                     8
6         7         70         private             99.6                     9
7         8         80  master_account             96.7                    40
8         9         90         private             99.4                    12
9       =10        100  master_account             94.3                    60
10      =10        110         private             98.5                    22
11       12        120         private             98.4                    24
12       13        130         private             98.4                    23
13       14        140         private             98.8                    19
14       15        150          public             97.9                    27
15       16        160  master_account             94.6                    56
16       17        170         private             98.3                    25
17       18        180          public             99.8                     5
18       19        190         private             97.6                    28
19       20        200         private             96.9                    36
20       21        210          public             95.7                    47
21      =22        220  master_account             81.3                   193
22      =22        230  master_account             92.6                    75
23       24        240         private             99.7                     7
24      =25        250  master_account             94.9                    53
25      =25        260          public             99.0                    17
26      =27        270  master_account             97.0                    35
27      =27        280         private             96.5                    43
28      =27        290  master_account             74.2                   274
29       30        300  master_account             71.4                   306
...     ...        ...             ...              ...                   ...
1072  1001+      10730  master_account              2.1                  1098
1073  1001+      10740  master_account              0.8                  1102
1074  1001+      10750  master_account             16.8                   915
1075  1001+      10760  master_account              8.4                  1047
1076  1001+      10770  master_account              6.2                  1066
1077  1001+      10780  master_account              9.7                  1024
1078  1001+      10790  master_account              5.6                  1072
1079  1001+      10800  master_account              9.0                  1037
1080  1001+      10810  master_account              9.0                  1038
1081  1001+      10820  master_account              8.9                  1041
1082  1001+      10830  master_account              6.0                  1068
1083  1001+      10840  master_account              2.4                  1096
1084  1001+      10850  master_account              2.8                  1094
1085  1001+      10860  master_account              9.3                  1030
1086  1001+      10870  master_account              4.7                  1077
1087  1001+      10880  master_account             11.5                  1001
1088  1001+      10890  master_account              2.9                  1092
1089  1001+      10900  master_account             10.8                  1012
1090  1001+      10910  master_account              8.1                  1049
1091  1001+      10920  master_account              7.3                  1057
1092  1001+      10930  master_account              5.8                  1070
1093  1001+      10940  master_account              2.9                  1093
1094  1001+      10950  master_account              7.2                  1060
1095  1001+      10960  master_account              4.4                  1079
1096  1001+      10970  master_account              3.1                  1089
1097  1001+      10980  master_account              2.0                  1099
1098  1001+      10990  master_account              1.9                  1101
1099  1001+      11000  master_account             14.8                   949
1100  1001+      11010  master_account              9.7                  1025
1101  1001+      11020  master_account             15.7                   934

                            ...                         scores_research  \
0                           ...                                    99.5
1                           ...                                    97.8
2                           ...                                    97.5
3                           ...                                    96.7
4                           ...                                    91.9
5                           ...                                    98.4
6                           ...                                    93.9
7                           ...                                    88.7
8                           ...                                    90.1
9                           ...                                    92.0
10                          ...                                    90.1
11                          ...                                    87.0
12                          ...                                    88.1
13                          ...                                    83.3
14                          ...                                    88.1
15                          ...                                    88.2
16                          ...                                    80.6
17                          ...                                    84.5
18                          ...                                    86.6
19                          ...                                    86.7
20                          ...                                    86.3
21                          ...                                    88.2
22                          ...                                    84.8
23                          ...                                    83.7
24                          ...                                    72.0
25                          ...                                    79.9
26                          ...                                    74.2
27                          ...                                    77.4
28                          ...                                    85.1
29                          ...                                    93.2
...                         ...                                     ...
1072                        ...                                     7.9
1073                        ...                                     8.4
1074                        ...                                     8.1
1075                        ...                                     8.5
1076                        ...                                     9.0
1077                        ...                                     6.3
1078                        ...                                    12.0
1079                        ...                                     8.6
1080                        ...                                    12.0
1081                        ...                                     7.3
1082                        ...                                     9.3
1083                        ...                                     4.6
1084                        ...                                     8.8
1085                        ...                                    11.1
1086                        ...                                    10.2
1087                        ...                                     9.6
1088                        ...                                     7.9
1089                        ...                                     8.1
1090                        ...                                     9.3
1091                        ...                                     9.3
1092                        ...                                    11.9
1093                        ...                                    10.3
1094                        ...                                     9.2
1095                        ...                                     9.1
1096                        ...                                     7.9
1097                        ...                                     6.9
1098                        ...                                     7.1
1099                        ...                                     9.9
1100                        ...                                     8.0
1101                        ...                                     9.4

     scores_research_rank scores_teaching scores_teaching_rank  \
0                       1            86.7                    5
1                       3            87.8                    3
2                       4            90.3                    1
3                       5            89.1                    2
4                       9            87.3                    4
5                       2            84.2                    9
6                       6            85.7                    7
7                      12            81.7                   13
8                      10            85.3                    8
9                       8            76.4                   21
10                     11            83.7                   10
11                     17            86.7                    6
12                     16            76.1                   23
13                     26            82.2                   12
14                     15            80.7                   14
15                     13            74.4                   25
16                     27            80.7                   15

The ranking is not defined, however the universities were stored in order of appearance on the website, meaning that the 
DataFrame is sorted by ranking. We define a new column and use it as the index.

In [6]:
#Redundant
'''
def alternative(link): 
    
    r = requests.get(link)
    
    top = r.json()['data'][:199]
    for t in top:
        print(t['title'],t['rank_display'],t['url'])
'''

In [101]:
#QS_Rank = Extract_Links('https://www.topuniversities.com/university-rankings/world-university-rankings/2018')
#QS_Rank
#QS_Rank.head(20)
#alternative('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508507889334')

The functions are defined, it is therefore possible to apply the new operations that were required in the question.

In [102]:
html = html.replace('class="row bigbox container mi-df-local locked-single"', 'class="row bigbox container mi-df-local single-local"')
soup = BeautifulSoup(html, "html.parser")
print(html)

NameError: name 'html' is not defined

In [9]:
QS_Rank['faculty/students'] = QS_Rank['number_faculty_total']/QS_Rank['number_students_total']
QS_Rank.set_index('faculty/students')

print(QS_Rank.head(20))
print(TimesHigher_Rank.head(20))

NameError: name 'QS_Rank' is not defined

    (b) ratio of international students

    (a) ratio between faculty members and students

In [104]:
QS_Rank['international/total'] = QS_Rank['number_students_international']/QS_Rank['number_students_total']
QS_Rank.set_index('international/total')
print(QS_Rank.head(20))

NameError: name 'QS_Rank' is not defined

In order to aggregate the results by country, we will use the groupBy function.

    (2) Obtain the 200 top-ranking universities in www.timeshighereducation.com (ranking 2018). Repeat the analysis of the previous point and discuss briefly what you observed.

In [103]:
#Applying the previously defined functions on the other ranking:
TimesHigher_Rank = Extract_Links('https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/25/sort_by/rank/sort_order/asc/cols/stats')
print(TimesHigher_Rank.head(20))

104
outside the TIMPE

TypeError: unsupported operand type(s) for -: 'str' and 'int'

Answering question (a), the faculty members over students ratio:

In [12]:
TimesHigher_Rank['faculty/students'] = TimesHigher_Rank['number_faculty_total']/TimesHigher_Rank['number_students_total']
TimesHigher_Rank.set_index('faculty/students')
print(TimesHigher_Rank.head(20))

NameError: name 'TimesHigher_Rank' is not defined

Answering question (b), the international students over total ratio:

In [13]:
TimesHigher_Rank['international/total'] = TimesHigher_Rank['number_students_international']/TimesHigher_Rank['number_students_total']
TimesHigher_Rank.set_index('international/total')
print(TimesHigher_Rank.head(20))

NameError: name 'TimesHigher_Rank' is not defined